*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: black;
}

/* -----------------Login page style ------------------ */


.main-login{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.col1{
    width: 60%;
}

.col2{
    width: 40%;
    background-color: #f2f3f8;
    height: 100vh;
    padding-left: 3%;
}

.login-img{
    display: flex;
    justify-content: center;
    padding-top: 20%;
}

.login-img img{
    height: 40px;
    width: auto;
}

.login-first-heading{
    text-align: center;
    font-size: 30px;
    color: #33333b;
    font-weight: 600;
}

.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0%;
}

.facebook{
    text-decoration: none;
    color: white;
    padding: 0.8% 4%;
    font-size: 18px;
    font-weight: 500;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: #3b5998;
}

.fa-facebook{
    padding-right: 4px;
}

.Google{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0.8% 4%;
    font-size: 18px;
    font-weight: 500;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
    background-color: transparent;
    margin-left: 10px;
}

.fa-google{
    color: red;
}

.email{
    width: 60%;
    padding: 1.5% 1%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid black;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.password{
    width: 60%;
    padding: 1.5% 1%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid black;
    display: block;
    margin: auto;
}

.forgot{
    display: flex;
    justify-content: center;
    padding: 4%;
}

.forgot a{
    color: #e5322d;
    font-size: 15px;
    font-weight: 800;
}

.login-btn a{
    text-decoration: none;
    color: white;
    padding: 0.8% 4%;
    font-size: 18px;
    font-weight: 500;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: #e5322d;
    margin-left: 10px;
}

.login-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.create-account{
    text-align: center;
    font-weight: 300;
    color: rgb(77, 76, 76);
}

.sub-account{
    padding-left: 5px;
    color: #e5322d;
    font-weight: 500;
}

.login-pdf-image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}

.pdf-heading{
    font-size: 28px;
    color: #33333b;
    font-weight: 600;
    padding-top: 5%;
}

.pdf-paragraph{
    font-size: 19px;
    color: #47474f;
    font-weight: 400;
    padding-top: 5%;
    padding-right: 21%;
    word-spacing: 5px;
}

.pdf-drop{
    font-size: 18px;
    color: #47474f;
    font-weight: 600;
    padding-top: 5%;
}


