/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('assets/Background_enhanced.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Container styles */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-height: 600px;
}

/* Logo and headings */
.logo {
    width: 100px;
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 10px;
    font-size: 36px;
    color: #333;
}

h3 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    align-self: flex-start;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Button styles */
button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #555;
}

/* Google login button */
.google-login {
    background-color: white;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.google-login img {
    width: 40px;
    height: 20px;
    margin-right: 8px;
}

.google-login:hover {
    background-color: #f0f0f0;
}

/* Remember Me and Forgot Password */
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

label[for="remember-me"] {
    font-size: 14px;
    color: #333;
    cursor: pointer;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.forgot-password {
    text-decoration: none;
    color: #007BFF;
    font-size: 0.9em;
}

.forgot-password:hover {
    text-decoration: underline;
}

/* Error and signup messages */
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.signup-text {
    margin-top: 30px;
    font-size: 14px;
    color: #333;
}

.signup-text a {
    color: blue;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}
